.homeClass {
  height: 100vh;
  // margin-top: 10rem;
  // margin-left: 10rem;

  .homeContent {
    min-height: 100px;
    max-width: 840px;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 10rem;
    padding-left: 10rem;
    border-radius: 8px;
  }

  h1 {
    background-color: #D8220B;
    margin-bottom: 30px;
    padding: 5px 15px;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 3px;
    width: fit-content;
  }

  p {
    font-family: 'Playfair Display', serif;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 3.5em;
  }
}
