.appClass {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;

  // Overlay styling
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.3);
    // background-color: rgba(33, 37, 41, 0.3);
    z-index: 1; //Ensure it stays above background but below content
  }

  // Wrapper for main content
  .contentWrapper {
    position: relative; // New stacking context
    z-index: 2; // Ensures it stays above the overlay
  }
}
